*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
## Colors

### Primary

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

### Accent

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
*/
body{
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
}
h1,h2,h3{
    font-weight: 700;
}
.top-div{
    background-color: hsl(217, 28%, 15%);
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 900px;
    color: hsl(0, 0%, 100%);
    position: relative;
}
.div-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    text-align: center;
    align-items: center;
    z-index: 1;
}
.top-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px;
    padding: 0 60px;
}
.top-option{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.btn-1{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    background-color: skyblue;
    color: hsl(0, 0%, 100%);
    border-style: none;
    cursor: pointer;
}
.curve{
    width: 100%;
    position: absolute;
    bottom: 0;   
}
.top-option>a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.grid{
    display: grid;
    grid-template-columns: 350px 350px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 80px;
    column-gap: 100px;
    margin-bottom: 150px;
}
.grid-item>h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
}
.para{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}
.fly-link{
    display: flex;
    color: skyblue;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}
.grid-2{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 35px;
    justify-content: center;
    margin-bottom: 150px;
}
.card{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 25px;
    background-color: hsl(219, 30%, 18%);
    padding: 50px 30px 30px 30px;
    border-radius: 5px;
}
.author>img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.author{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quote{
    position: relative;
    left: 190px;
    top: 14px;
    z-index: -1;
}
.grid-3{
    display: grid;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    z-index: 1;
    position: relative;
    top: 80px;
    border-radius: 10px;
}
.email-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.email{
    width: 300px;
    padding: 15px 50px;
    border-radius: 25px;
    border-style: none;
}
.btn-2{
    width: 200px;
    padding: 15px 30px;
    border-radius: 25px;
    border-style: none;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
    background-color: hsl(216, 53%, 9%);
    padding-top: 150px;
    padding-bottom: 80px;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 80px;
}
.icon{
    display: flex;
    gap: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
   gap: 20px;
   padding-top: 86px;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 86px;
    flex-wrap: wrap;
    height: 230px;
}